<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MakerSuite" allow-return-values="true" parallel="none">
  <test thread-count="5" name="Test">
    <classes>
     <class name="stepDefs.TestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
